services:
  postgresql:
    image: docker.io/postgres:18-alpine
    ports:
      - '5432:5432'
    shm_size: 128mb
    secrets:
      - postgres-passwd
    volumes:
      - 'postgresql_data:/postgresql'
    environment:
      - 'POSTGRES_USER=admin'
      - 'POSTGRES_PASSWORD_FILE=/run/secrets/postgres-passwd'

secrets:
  postgres-passwd:
    file: ./psql-pass.txt

volumes:
  postgresql_data:
    driver: local
